{# src/BDE/SiteBundle/Resources/views/Bde/index.html.twig #}

{% extends "BDESiteBundle::Layout.html.twig" %}

{% block title %}{{ parent() }} Accueil {% endblock %}
{% block img %}


{% endblock %}
{% block body %}

<p>
Notification
Forum
Calendrier
</p>


{% endblock %}