
{# src/OCDE/SiteBundle/Resources/views/Bde/AssoSite.html.twig #}


{% extends "BDESiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}ISEP VOILE {% endblock %}

{% block img %}
    <header class="intro-header"  style="background-image: url({{asset ('img/ISEPVOILE.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading" >
                        <h1 style="color:white">ISEP VOILE</h1>

{% endblock %}
{% block body %}
<p>ISEP VOILE</p>


<p>La voile est souvent considérée comme un sport extrême réservé à une minorité. Nous souhaitons changer cette image et faire de ISEP Voile une association dynamique et animée par la volonté de faire découvrir la voile et ses émotions au plus grand nombre d’étudiants.

Tous ainsi unis autour d’une même passion, d’un goût pour l’air marin et les sensations fortes, nous prévoyons de participer à plusieurs week-ends d’entraînements, et ainsi hisser fièrement nos couleurs lors de l’événement incontournable du milieu de la voile : la Course Croisière EDHEC.

Plus d'infos : http://voile.iseplive.fr/.</p>

<p>Date de création : Mardi 28 Octobre 2008</p>
<p>Email : voile@isep.fr</p>

{% endblock %}





