{# src/OCDE/SiteBundle/Resources/views/Bde/AssoSite.html.twig #}


{% extends "BDESiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} ISEP TRAVEL{% endblock %}
{% block img %}
    <header class="intro-header" style="background-image: url({{asset ('img/ISEPTRAVEL.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                        <h1 style ="color:transparent;";>ISEPTRAVEL</h1>

{% endblock %}
{% block body %}
<p>ISEP TRAVEL </p>


<p>ISEP Travel est l'association de l'ISEP qui s'occupe de tes voyages pendant les vacances scolaires.

L’équipe se charge d’organiser tout au long de l’année plusieurs voyages dans différentes villes européennes le tout à des prix modérés.

Tu n’as qu’à te laisser transporter, ton association s’occupe de tout : transport, hébergement dans le quartier le plus sympa de la ville, bon plans…


Une fois sur place, tu es libre de faire ce qu’il te plait : Visiter des endroits exceptionnels que tu n’es pas prêt d’oublier, rencontrer des gens autour d'un verre, participer aux quelques activités qui seront proposées par l’équipe… Bref, tu l’auras compris, ce ne sera pas un sale voyage de classe, mais de vraies vacances avec tes potes ! Le tout dans une ambiance conviviale.


Donc si tu en as assez de rouiller sur facebook sous le ciel gris de Paris, et que tu veux vraiment profiter des tes précieuses et tant attendues vacances, n'hésite plus et viens t’inscrire au premier voyage que nous organisons cette année à BUDAPEST pour les vacances de la Toussaint !</p>
<p>https://www.facebook.com/pages/ISEP-Bands/397215573683079</p>

<p>Date de création : Mardi 1er Novembre 2011</p>
<p>Email : isep.travel@gmail.com</p>
{% endblock %}
