{# src/BDE/SiteBundle/Resources/views/Bde/index.html.twig #}

{% extends "BDESiteBundle::Layout.html.twig" %}

{% block title %}{{ parent() }} Accueil {% endblock %}
{% block img %}
    <header class="intro-header" style="background-image: url({{asset ('img/40555.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                        <h1 > Bureau des étudiants 7'tease </h1>

{% endblock %}
{% block body %}

<p>Un bureau des étudiants (BDE) ou bureau des élèves, est une association d'étudiants d'une même université ou école, élue par leurs adhérents, et qui s'occupe d'organiser les activités extra-scolaires telles que des soirées étudiantes, l'accueil des nouveaux élèves, et diverses activités allant des rencontres sportives aux événements culturels, en passant par la gestion des éventuelles cafétérias ou coopératives étudiantes.</p>


<p>Ce site a pour but de vous donner une vision de l'organisation associative à l'ISEP. De plus grâce à celui vous pourrez vous tenir au courant des differents évènements. 

Pour les isepiens ce site est une plateforme de communication intra-isep. 

Pour toutes demandes d'information vous pouvons nous contacter par mail à l'adresse suivante : bde.isep@isep.fr ou sur notre page facebook.</p>


{% endblock %}