{# src/OCDE/SiteBundle/Resources/views/Bde/AssoSite.html.twig #}


{% extends "BDESiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} ELLYPSIS{% endblock %}
{% block img %}
    <header class="intro-header" style="background-image: url({{asset ('img/ELLYPSIS.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                        <h1 style ="color:white";>Ellypsis</h1>

{% endblock %}
{% block body %}
<p>Ellypsis</p>


<p>Ellypsis est la Job-Service de l'ISEP !
Cette association permet aux isépiens d'arrondir leurs fins de mois en participant à des missions auprès de divers clients (AS Télécoms&Réseaux, AS Connect, OTSI, Métalogic...)</p>

<p>Les missions sont: 
- ponctuelles : Vous ne vous engagez que sur une mission de quelques heures.
- rémunérées : Chaque mission est bien sûr payée aux étudiants aux nombres d'heures travaillées. (et même bien payée !)
- conviviales : elles sont réalisées le plus souvent par une dizaine d'étudiants. Ainsi, celles-ci sont nettement plus agréables.

Ellypsis vous permet de compléter votre formation à l'ISEP en vous offrant la possibilité de comprendre le déploiement des réseaux en entreprise, d'apprendre à résoudre des problèmes réseau ou informatique, de découvrir le monde de l'entreprise... Aucune connaissance particulière n'est demandée, vous serez formés sur le terrain par un responsable Ellypsis ou directement par le client. </p>

<p>Ellypsis permet également de faire vivre ton école en aidant financièrement d'autres associations à réaliser leurs projets.

Ellypsis c'est toi !!

N'hésite pas à t'inscrire sur notre site !

www.ellypsis.fr</p>


<p>Date de création : Mardi 1er Juillet 2008</p>
<p>Email : ellypsis@isep.fr</p>
{% endblock %}