{# src/OCDE/SiteBundle/Resources/views/Bde/ISEP.html.twig #}


{% extends "BDESiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} ISEP{% endblock %}
{% block img %}
  <header class="intro-header" style="background-image: url({{asset ('img/ISEP.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                        

{% endblock %}
{% block body %}

<h1> ISEP </h1>
  <div class="container">

      <div class="row">

        <div class="col-lg-12">
            <p>Dates clés :<p>
<p>1955 : création de l’ISEP, à l’Institut Catholique de Paris</p>
<p>1960 : habilitation du diplôme de l'ISEP par la Commission des Titres d'Ingénieur</p>
<p>1969 : l’ISEP membre de la Fédération des Ecoles Supérieures d’Ingénieurs et de Cadres</p>
<p>1971 : Reconnaissance par l'Etat</p>
<p>2012 : la CTI renouvelle son habilitation à l’ISEP pour la durée maximale de 6 ans</p>
<p></p>
        </div>
        </div>
        <section class="col-lg-6">
          <h2>Nôtre dame des champs</h2> 
      <div class="row">
      <div class="col-lg-6">Premier bâtiment de l'ISEP 28 rue notre dames des champs 75006 Paris</div>
      </div>
      <div class="row">
      <div class="col-lg-6"><p>Métros 4: Saint placide 12: Notre dame des champs 6&13: Montparnasse </p>

<p>Bus: 89 - 94 - 95 - 96 - 68 - 58 - 82</p>
 </div>
      </div>
        </section>
          <section class="col-lg-6">
          <h2>Nôtre dame de lorette</h2>
      <div class="row">
      <div class="col-lg-6">Deuxième bâtiment de l'ISEP 10 rue de Vanves 92130 Issy-les-moulineaux
</div>
      </div>
      <div class="row">
      <div class="col-lg-6">
      <p>Métro 12: Corentin Celton

</p> <p></p><p> Bus : 126 Corentin celton</div>
        </section>

      </div>
      </div>
  
{% endblock %}