{# src/OCDE/SiteBundle/Resources/views/Bde/AssoSite.html.twig #}


{% extends "BDESiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }} JUNIOR ISEP{% endblock %}
{% block img %}
    <header class="intro-header" style="background-image: url({{asset ('img/JUNIORISEP.jpg')}});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="site-heading">
                        <h1 style ="color:black";>Junior Isep</h1>

{% endblock %}
{% block body %}
<p>Junior Isep</p>


<p>Créée en 1984, la Junior-Entreprise de l'ISEP se positionne comme la meilleure Junior-Entreprise de France en 2005 et 2008 remportant à deux reprises le prix d'Excellence. Elle a de plus, ces six dernières années, remporté deux labels ingénieur récompensant la meilleure Junior-Entreprise Ingénieur de France, trois labels Dynamisme et un label Communication. Junior ISEP fut 11 fois en Finale du prix d'Excellence qui récompense la meilleure Junior-Entreprise de France. En 2011 et 2012, Junior ISEP a terminé deuxième du prix d'Excellence Européen. Elle le remporte en 2013 et devient la Junior la plus innovante d'Europe.</p>
<p>Junior ISEP ne cesse de s'adapter aux demandes du marché. De plus en plus d'entreprises, de particuliers se tournent vers Junior ISEP pour "Donner une nouvelle dimension à leurs projets".
Le professionnalisme et la qualité de service de Junior ISEP l'imposent en tant que leader des Junior-Entreprises ingénieurs. Ceci se traduit par un chiffre d'affaire de 155K en 2012.</p>

<p>Date de création : Samedi 1er Septembre 1984</p>
<p>Email : accueil@juniorisep.com</p>
{% endblock %}